apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app
  name: app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - image: ghcr.io/mealie-recipes/mealie:v3.4.0
          name: mealie
          ports:
            - containerPort: 9000
          volumeMounts:
            - name: mealie-storage
              mountPath: /app/data
      volumes:
        - name: mealie-storage
          persistentVolumeClaim: 
            claimName: local-path-pvc
