apiVersion: v1
kind: Service
metadata:
  labels:
    app: app
  name: mealie-service
spec:
  ports:
  - name: 9000-9000
    port: 9000
    protocol: TCP
    targetPort: 9000
    nodePort: 30712
  selector:
    app: app
  type: NodePort
